populationP30_11.2.png
populationL30_3:2.png
populationL30_11.2.png
population_P30.pdf
population_P30.eps
population_L30.pdf
population_L30.eps
population.png
population.pdf
population.eps
geometry.png
distributionP30.png
distributionL30.png
distribution_PvsL.png
distribution_PvsL.eps
distribution.png
distribution.pdf
distribution.eps
data_distribution.csv
